subject = "Лицензия на программный продукт {{ user_name }}"
==
<p>Приветствую, Вас <b>{{ user_name }}</b> !</p>
<p>Лицензия и поддержка на продукт {{ name }} {{ model }} выдана на <b>{{ user_email }} </b>.</p>
</br>
<p>Скачать <b>{{ name }} {{ model }}</b>:</p>
<p>{{ digital_product.path | app }} :</p>
</br>
{% if additional is not empty %}
<p><b>Дополнительная информация:</b></p>
<p>{{ additional }}</p>
{% endif %}
<p>
<b>Хочу напомнить еще несколько моментов:</b></br>
<ul>
    <li>1) Скрипт будет поддерживаться и обновляться до тех пор, пока он нужен будет Вам, в первую очередь.</li>
    <li>2) Скрипт будет поддерживаться о обновляться до "слива" его в паблик. Прошу понять меня правильно.</li>
    <li>3) Но почта, ася(494812124) и форум ifirestarter.ru - всегда открыты для предложений и пожеланий.</li>
</ul>
</p>